<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
		<add key="Cloudsmith" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="Cloudsmith">
			<package pattern="OrchardCore" />
			<package pattern="OrchardCore.*" />
			<package pattern="TheAdmin" />
			<package pattern="TheAgencyTheme" />
			<package pattern="TheBlogTheme" />
			<package pattern="TheComingSoonTheme" />
			<package pattern="TheTheme" />
			<package pattern="SafeMode" />
		</packageSource>
		<packageSource key="NuGet">
			<package pattern="*" />
			<package pattern="OrchardCoreContrib.*" />
			<package pattern="OrchardCore.Translations.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
